@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply text-gray-900;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-[var(--font-montserrat)] font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}